<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Hyva\Admin\ViewModel\HyvaGridInterface" type="Hyva\Admin\ViewModel\HyvaGridViewModel"/>
    <preference for="Hyva\Admin\Model\GridExport\HyvaGridExportInterface"
                type="Hyva\Admin\ViewModel\HyvaGridViewModel"/>
    <preference for="Hyva\Admin\Model\HyvaGridSourceInterface" type="Hyva\Admin\Model\GridSource"/>
    <preference for="Hyva\Admin\ViewModel\HyvaGrid\ColumnDefinitionInterface"
                type="Hyva\Admin\ViewModel\HyvaGrid\ColumnDefinition"/>
    <preference for="Hyva\Admin\ViewModel\HyvaGrid\RowInterface" type="Hyva\Admin\ViewModel\HyvaGrid\Row"/>
    <preference for="Hyva\Admin\ViewModel\HyvaGrid\CellInterface" type="Hyva\Admin\ViewModel\HyvaGrid\Cell"/>
    <preference for="Hyva\Admin\ViewModel\HyvaGrid\NavigationInterface"
                type="Hyva\Admin\ViewModel\HyvaGrid\Navigation"/>
    <preference for="Hyva\Admin\Model\Config\HyvaGridConfigReaderInterface"
                type="Hyva\Admin\Model\Config\GridConfigReader"/>
    <preference for="Hyva\Admin\Model\HyvaGridDefinitionInterface" type="Hyva\Admin\Model\HyvaGridDefinition"/>
    <preference for="Hyva\Admin\ViewModel\HyvaGrid\EntityDefinitionInterface"
                type="Hyva\Admin\ViewModel\HyvaGrid\EntityDefinition"/>
    <preference for="Hyva\Admin\ViewModel\HyvaGrid\GridActionInterface"
                type="Hyva\Admin\ViewModel\HyvaGrid\GridAction"/>
    <preference for="Hyva\Admin\ViewModel\HyvaGrid\MassActionInterface"
                type="Hyva\Admin\ViewModel\HyvaGrid\MassAction"/>
    <preference for="Hyva\Admin\ViewModel\HyvaGrid\GridExportInterface"
                type="Hyva\Admin\ViewModel\HyvaGrid\GridExport"/>
    <preference for="Hyva\Admin\Api\DataTypeGuesserInterface"
                type="Hyva\Admin\Model\DataType\DataTypeFacade"/>
    <preference for="Hyva\Admin\Model\DataType\DataTypeToStringConverterLocatorInterface"
                type="Hyva\Admin\Model\DataType\DataTypeFacade"/>
    <preference for="Hyva\Admin\ViewModel\HyvaGrid\GridFilterInterface"
                type="Hyva\Admin\ViewModel\HyvaGrid\GridFilter"/>
    <preference for="Hyva\Admin\ViewModel\HyvaGrid\FilterOptionInterface"
                type="Hyva\Admin\ViewModel\HyvaGrid\FilterOption"/>
    <preference for="Hyva\Admin\ViewModel\HyvaGrid\GridButtonInterface"
                type="Hyva\Admin\ViewModel\HyvaGrid\GridButton"/>
    <preference for="Hyva\Admin\ViewModel\HyvaFormInterface" type="Hyva\Admin\ViewModel\HyvaFormViewModel"/>
    <preference for="Hyva\Admin\ViewModel\HyvaForm\FormSectionInterface"
                type="Hyva\Admin\ViewModel\HyvaForm\FormSection"/>
    <preference for="Hyva\Admin\ViewModel\HyvaForm\FormNavigationInterface"
                type="Hyva\Admin\ViewModel\HyvaForm\FormNavigation"/>
    <preference for="Hyva\Admin\ViewModel\HyvaForm\FormGroupInterface" type="Hyva\Admin\ViewModel\HyvaForm\FormGroup"/>
    <preference for="Hyva\Admin\ViewModel\HyvaForm\FormFieldOptionInterface"
                type="Hyva\Admin\ViewModel\HyvaForm\FormFieldOption"/>
    <preference for="Hyva\Admin\ViewModel\HyvaForm\FormFieldDefinitionInterface"
                type="Hyva\Admin\ViewModel\HyvaForm\FormFieldDefinition"/>
    <preference for="Hyva\Admin\ViewModel\HyvaForm\FormButtonInterface"
                type="Hyva\Admin\ViewModel\HyvaForm\FormButton"/>
    <preference for="Hyva\Admin\Model\HyvaFormDefinitionInterface" type="Hyva\Admin\Model\HyvaFormDefinition"/>
    <preference for="Hyva\Admin\Model\Config\HyvaFormConfigReaderInterface"
                type="Hyva\Admin\Model\Config\FormConfigReader"/>
    <type name="Hyva\Admin\Block\Adminhtml\HyvaGrid">
        <arguments>
            <argument name="gridTemplate" xsi:type="string">Hyva_Admin::grid.phtml</argument>
        </arguments>
    </type>
    <type name="Hyva\Admin\Block\Adminhtml\HyvaForm">
        <arguments>
            <argument name="formTemplate" xsi:type="string">Hyva_Admin::form.phtml</argument>
        </arguments>
    </type>
    <type name="Hyva\Admin\Model\DataType\DataTypeFacade">
        <arguments>
            <!-- note: order matters - generic DataTypes (e.g. object, unknown) come after more specific ones -->
            <argument name="dataTypeClassMap" xsi:type="array">
                <item name="datetime" xsi:type="string">Hyva\Admin\Model\DataType\DateTimeDataType</item>
                <item name="timestamp" xsi:type="string">Hyva\Admin\Model\DataType\DateTimeDataType</item>
                <item name="date" xsi:type="string">Hyva\Admin\Model\DataType\DateDataType</item>
                <item name="long_text" xsi:type="string">Hyva\Admin\Model\DataType\LongTextDataType</item>
                <item name="text" xsi:type="string">Hyva\Admin\Model\DataType\TextDataType</item>
                <item name="truncated_text" xsi:type="string">Hyva\Admin\Model\DataType\TextDataType</item>
                <item name="string" xsi:type="string">Hyva\Admin\Model\DataType\TextDataType</item>
                <item name="varchar" xsi:type="string">Hyva\Admin\Model\DataType\TextDataType</item>
                <item name="array" xsi:type="string">Hyva\Admin\Model\DataType\ArrayDataType</item>
                <item name="bool" xsi:type="string">Hyva\Admin\Model\DataType\BooleanDataType</item>
                <item name="int" xsi:type="string">Hyva\Admin\Model\DataType\IntDataType</item>
                <item name="tinyint" xsi:type="string">Hyva\Admin\Model\DataType\IntDataType</item>
                <item name="smallint" xsi:type="string">Hyva\Admin\Model\DataType\IntDataType</item>
                <item name="mediumint" xsi:type="string">Hyva\Admin\Model\DataType\IntDataType</item>
                <item name="scalar_null" xsi:type="string">Hyva\Admin\Model\DataType\ScalarAndNullDataType</item>
                <item name="price" xsi:type="string">Hyva\Admin\Model\DataType\PriceDataType</item>
                <item name="decimal" xsi:type="string">Hyva\Admin\Model\DataType\ScalarAndNullDataType</item>
                <item name="magento_product" xsi:type="string">Hyva\Admin\Model\DataType\ProductDataType</item>
                <item name="magento_category_link" xsi:type="string">Hyva\Admin\Model\DataType\CategoryLinkDataType</item>
                <item name="magento_stock_item" xsi:type="string">Hyva\Admin\Model\DataType\StockItemDataType</item>
                <item name="magento_product_link" xsi:type="string">Hyva\Admin\Model\DataType\ProductLinkDataType</item>
                <item name="magento_product_gallery" xsi:type="string">Hyva\Admin\Model\DataType\ProductGalleryDataType</item>
                <item name="magento_product_gallery_entry" xsi:type="string">Hyva\Admin\Model\DataType\ProductGalleryEntryDataType</item>
                <item name="magento_product_image" xsi:type="string">Hyva\Admin\Model\DataType\ProductImageDataType</item>
                <item name="magento_customer_address" xsi:type="string">Hyva\Admin\Model\DataType\CustomerAddressDataType</item>
                <item name="magento_product_custom_option" xsi:type="string">Hyva\Admin\Model\DataType\ProductCustomOptionDataType</item>
                <item name="magento_product_type" xsi:type="string">Hyva\Admin\Model\DataType\ProductTypeInstanceDataType</item>
                <item name="magento_tier_price" xsi:type="string">Hyva\Admin\Model\DataType\TierPriceDataType</item>
                <item name="store_id" xsi:type="string">\Hyva\Admin\Model\DataType\StoreIdDataType</item>
                <item name="website_id" xsi:type="string">\Hyva\Admin\Model\DataType\WebsiteIdDataType</item>
                <item name="object" xsi:type="string">Hyva\Admin\Model\DataType\GenericObjectDataType</item>
                <item name="unknown" xsi:type="string">Hyva\Admin\Model\DataType\UnknownDataType</item>
            </argument>
        </arguments>
    </type>
    <type name="Hyva\Admin\Model\GridFilter\GridFilterTypeLocator">
        <arguments>
            <!-- The order of types matter - the first match is used, and text matches always, so it's last. -->
            <argument name="columnTypeMatchingFilterMap" xsi:type="array">
                <item name="boolean" xsi:type="string">Hyva\Admin\Model\GridFilter\BooleanFilter</item>
                <item name="date-range" xsi:type="string">Hyva\Admin\Model\GridFilter\DateRangeFilter</item>
                <item name="select" xsi:type="string">Hyva\Admin\Model\GridFilter\SelectFilter</item>
                <item name="value-range" xsi:type="string">Hyva\Admin\Model\GridFilter\ValueRangeFilter</item>
                <item name="text" xsi:type="string">Hyva\Admin\Model\GridFilter\TextFilter</item>
            </argument>
        </arguments>
    </type>
    <type name="Hyva\Admin\Model\GridSourceType\CollectionGridSourceType">
        <arguments>
            <argument name="eavCollectionProcessor" xsi:type="object">Magento\Eav\Model\Api\SearchCriteria\CollectionProcessor</argument>
        </arguments>
    </type>
    <type name="Hyva\Admin\Model\GridExport\GridExportTypeLocator">
        <arguments>
            <argument name="gridExportTypes" xsi:type="array">
                <item name="csv" xsi:type="string">Hyva\Admin\Model\GridExport\Type\Csv</item>
                <item name="xml" xsi:type="string">Hyva\Admin\Model\GridExport\Type\Xml</item>
                <item name="xlsx" xsi:type="string">Hyva\Admin\Model\GridExport\Type\Xlsx</item>
            </argument>
        </arguments>
    </type>
</config>

