<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="hyva_admin" frontName="hyva-grid">
            <module name="Hyva_Admin"/>
        </route>
    </router>
</config>
