<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="hyva_grid_source_prefetch">
        <observer name="id-field-mapper" instance="Hyva\Admin\Observer\IdFieldMappingObserver"/>
    </event>
</config>
